<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            height: 100vh;
            width: 100vw;
            margin: 0;
            display: block;
            overflow: hidden;
/*            background-image: url(../Images/sticky-note-with-postponed-messageFreePikDotCom.jpg);*/
        }
        #gameBoard {
            background-position: center;
            background-color: white;
            background-image: none;
        }
    </style>
</head>
<body id="viewport">
<canvas id="gameBoard"></canvas>
</body>
<script>
    //Variables
    const board = document.getElementById("gameBoard");
    const background = new Image();
    console.log("please call me back");

    window.onload = function() {
        console.log("beep!");
        board.height = window.innerHeight;
        board.width = window.innerWidth;

        //Load all event interactions, draws,
        const context = board.getContext("2d");

        const redraw = function() {
            //Clear
            context.save();
            context.setTransform(1, 0, 0, 1, 0, 0);
            context.clearRect(0,0,board.width,board.height);
            context.restore();

            //Repaint
            context.drawImage(background, 0, 0);
            console.log("redrawn!");
        }
        redraw();

        //multiplier
        let scale = 1.1;

        const zoom = function(val) {
            let factor = Math.pow(scale, val); //example: scale 2 equates: double (pow2) or half (pow-2 = x0.5)
            context.scale(factor, factor);
            redraw();
        }

        const scroll = function(event) {
            console.log(event.deltaY);

            //Positive deltaY is scrolling down, or 'zooming out', thus smaller scale
            zoom(event.deltaY < 0 ? 1 : -1);
        }

        //Event is registering
        //        board.addEventListener("wheel", (event) => { console.log("wheel") } );
        board.addEventListener("wheel", scroll, false);


        //Window resizing -- works
        //this is something to import, so it does not clog; like a library
        window.addEventListener('resize', function(event) {
            const vp = document.getElementById("viewport");
            vp.style.height = '100vh';
            vp.style.width = '100vw';
            board.height = window.innerHeight;
            board.width = window.innerWidth;
            console.log("resized");
            redraw();
        }, true);
    }


    background.onload = function() {
        console.log("image here");
    }
    background.src = "../Images/sticky-note-with-postponed-messageFreePikDotCom.jpg";

</script>
</html>